[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "enerscape"]
	path = enerscape
	url = https://github.com/emilio-berti/enerscape
